body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #5b5a8d;
}

h2 {
    color: #73929b;
}

p {
    font-size: 18px;
    line-height: 1.6;
    color:#5c5b80
}

li p {
    font-size: 16px;
    line-height: 1.2;
    color:#555 ;
    padding: 15px;
}

ul {
    list-style: none;
    list-style-type: '♦';
    padding-left: 20px;
    padding: 0;
}

li {
    margin: 10px 0;
    background-color: rgb(183, 212, 245);
}

a {
    color: #007BFF;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s;
}

a:hover {
    color: #0056b3;
}

/* Estilo para la sección */
.section {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}